body{
    margin: 0px 50px;
    background-color: #4c1c23;
    font-family: "Roboto", sans-serif;
    nav-right: auto;
}
.hero{
    background-color: 6D2932;
    color: #E8D8C4;
    height: 100vh;
    display: flex;
    font-family: "Anton", sans-serif;
    justify-content: space-around;
     
}
.skills {
    background-color: 6D2932;
    color: #E8D8C4;
    height: 100vh;
    display: flex;
    font-family: "Anton", sans-serif;
    justify-content: space-between;
}

.korobka{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0 15px;
    padding: 0 100px;
    width: 50%;
    position: relative;
    height: 80vh;
}

.korobka img {
    display: inline;
    height: 55vh;
    justify-content: space-around;
}
h1{
    line-height: 120px;
    margin: 20px 0;
    font-size: 5rem;
  
}
h2{
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}
h3{
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}
h4{
    text-align: center;

}

.photo{
    width: 60%;
    border: 15px solid #C7B7A3;
    rotate: -4deg;
    box-shadow: 20px 20px 20px 0 #561C24;
    border-radius: 5%;
}
.prizrak{
    z-index: 5;
    top: 500px;
    right:300px;
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
    box-shadow: 0 0 300px 100px white;
}
.emp1{
    White-space: nowrap;
    margin-right:20px;
}
.emp2{
    White-space: nowrap;
}

.danelpridumala{
margin-bottom: 100%;
}

header {
    background-color: #6e6e6e;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: space-around;
    transition: all;
    transition: all 1s ease;
}

header nav a {
    color:  #4c1c23;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    justify-content: space-between;
}
nav{ 
    height: 80px; 
    display: flex; 
    align-items: center; 
    padding: 0 20%;
    transition: all 1s ease;   
} 
.link{ 
    font-size: 25px; 
    margin-left: 100px; 
    cursor: pointer; 
    transition-duration: 0.2s; 
} 
.link:hover{ 
    color: #5a5a5a; 
}

.a{
    line-height: 50px;    
    height: 100%;      
    font-size: 15px;    
    display:inline-flex;      
    position: relative;    
    z-index: 1;      
    text-decoration: none;    
    text-transform: uppercase;      
    text-align: center;    
    color: #000000;      
    cursor: pointer;    
}      
    
.animation {    
    position: absolute;      
    width: 100%;    
    top: 0;    
    z-index: 0;      
    transition: all .5s ease 0s;    
    border-radius: 8px;   
}
.contact {
    background-color: rgba(0, 0, 0, 0.7); /* Ð¢ÐµÐ¼Ð½Ñ‹Ð¹ Ð¿Ð¾Ð»ÑƒÐ¿Ñ€Ð¾Ð·Ñ€Ð°Ñ‡Ð½Ñ‹Ð¹ Ñ„Ð¾Ð½ */
    color: #fff;
    padding: 40px; /* Ð£Ð²ÐµÐ»Ð¸Ñ‡ÐµÐ½Ð½Ñ‹Ðµ Ð¾Ñ‚ÑÑ‚ÑƒÐ¿Ñ‹ */
    text-align: center;
    margin-bottom: 20px; /* ÐžÑ‚ÑÑ‚ÑƒÐ¿ Ð¼ÐµÐ¶Ð´Ñƒ ÑÐµÐºÑ†Ð¸ÑÐ¼Ð¸ */
}

.contact .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-left, .contact-right {
    width: 45%;
    margin: 20px;
    border-radius: 5%;
}

.contact-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

.contact-right input, .contact-right textarea, .contact-right button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    width: 80%;
    
}

.contact-right button{
    background-color:#bd4e71;
}

.social-icons {
  display: flex;
  justify-content: center;
}
 
.social-icons a {
  margin: 0 10px;
}
 
.social-icons img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s;
}
 
.social-icons a:hover img {
  transform: scale(1.2);
}

.social-icons {
  display: flex;
  justify-content: center;
}
 
.social-icons a {
  margin: 0 10px;
}
 
.social-icons img {
  width: 32px;
}
