body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.hero{
    background-color: 6D2932;
    color: #E8D8C4;
    height: 100vh;
    display: flex;
    font-family: "Anton", sans-serif
}
.korobka{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0 15px;
    padding: 0 100px;
    width: 50%;
}
h1{
    line-height: 120px;
    margin: 20px 0;
    font-size: 5rem;
}
h2{
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}
h3{
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}

.photo{
    width: 60%;
    border: 20px solid #C7B7A3;
    rotate: -4deg;
    box-shadow: 20px 20px 20px 0 #561C24;
}
.prizrak{
    z-index: 5;
    top: 500px;
    right:300px;
   position: absolute;
   width: 1px;
   height: 1px;
   background-color: white;
    box-shadow: 0 0 300px 100px white;
}
